body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    /*background:-webkit-radial-gradient(black 15%, transparent 16%) 0 0,
-webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
-webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
-webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;*/
/*background-color:black;
background-image:
-webkit-radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
-webkit-radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
-webkit-radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
-webkit-radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
background-color: #EDC783;
/*background-image:
-webkit-repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
-webkit-repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
-webkit-linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
-webkit-linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;
background-color:#def;*/
background-image: -webkit-radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
-webkit-radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
background-size:80px 80px;
background-position:0 0, 40px 40px;
}

#header {
    position: absolute;
    top: 10px;
    right: 10px;
}

#header button {
    font-size: 12pt;
    padding:8px;
}

#sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 260px;
    /*border: solid 1px #CCCCCC;*/
    overflow-y: scroll;
    background-color: #A48040;
    border-left: 3px solid #8E600E;
    border-right: 3px solid #8E600E;
}

#content {
    position: absolute;
    top: 100px;
    left: 30%;
    width:500px;
    background-color: #EDB95D;
    padding: 20px 45px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px #777777;
    border: 2px solid #8E600E;
    /*margin: 30px;*/
}

.title {
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

li a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    border-top: solid 1px #8E600E;
    border-bottom: solid 1px #8E600E;
    padding: 8px;
    background-color: #A48040;
}

li:last-child {
    border-bottom: solid 1px #8E600E;
}

li a:hover {
    text-decoration: none;
    background-color: #8E600E;
    color: #000000;
}

input[type="text"], textarea {
    min-height: 30px;
    background-color: #8E600E;
    color:#FFFFFF;
}

textarea {
    height: 120px;
}

label {
    display: block;
}
table {
/*    width: 472px;
*/}

tr {
    vertical-align: top;
}

td {
    padding-left: 15px;
    padding-right: 15px;
}

.open {
    background-color: #D3E8F6;
    color:#0A67A3;
}