<div>
    <table>
        <tr>
            <td>
                <label>Start Time:</label>
                <input type="text" id="time_start" name="time_start" value="<%= time_start %>"/>
            </td>
            <td>
                <label>End Time:</label>
                <input type="text" id="time_end" name="time_end" value="<%= time_end %>"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Project:</label>
                <input type="text" id="project" name="project" value="<%= project %>" required/>
                <p>Total: <% print(((+(new Date(time_end)) - +(new Date(time_start))) / 3600000).toFixed(3)) %></p>
                <%
                if (time_start && !time_end) {
                    print('<button class="btn closelog">Close</button>');
                }
                else print('<button class="btn save">Save</button>');
                %>
                <button class="btn delete">Delete</button>
            </td>
            <td>
                <!-- <label>Id:</label>
                <input id="wklogId" name="id" type="text" value="<%= id %>" disabled /> -->
                <label>Description:</label>
                <textarea id="description" name="description"><%= description %></textarea>
            </td>
        </tr>
    </table>
</div>
<%
if (project) {
    print('<div id="project-btn"><button class="btn project">View '+project+' Hours</button> <button class="btn project-summary">View '+project+' Summary</button></div>');
}
%>